@model antony.Domain.Entities.Delito

@{
    ViewBag.Title = "Información delito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información sobre el delito</h2>

<div class="form-horizontal">
    <h4>Información:</h4>
    <hr />
    
    <div class="form-group">
        <label for="origen" class="control-label col-md-2">id:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.id)
        </div>        
    </div>
    <div class="form-group">
        <label for="origen" class="control-label col-md-2">Origen:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.origen)
        </div>
        <label for="fechaIngreso" class="control-label col-md-2">Fecha Ingreso:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.fechaIngreso)
        </div>
    </div>
    <div class="form-group">
        <label for="numeroUnico" class="control-label col-md-2">Numero Unico:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.numeroUnico)
        </div>
        <label for="oficina" class="control-label col-md-2">Oficina Encargada:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.oficina)
        </div>
    </div>
    <div class="form-group">
        <label for="categoria" class="control-label col-md-2">Categoria Delito:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.categoria)
        </div>
        <label for="delegacion" class="control-label col-md-2">Delegación:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.delegacion)
        </div>
    </div>
    <div class="form-group">
        <label for="subCategoria" class="control-label col-md-2">Sub Categoria Delito:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.subCategoria)
        </div>
        <label for="perjuicio" class="control-label col-md-2">Perjuicio:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.perjuicio)
        </div>
    </div>
    <div class="form-group">
        <label for="modalidad" class="control-label col-md-2">Modalidad:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.modalidad)
        </div>
        <label for="moneda" class="control-label col-md-2">Moneda:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.moneda)
        </div>
    </div>
    <div class="form-group">
        <label for="victima" class="control-label col-md-2">Victima:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.victima)
        </div>
        <label for="subVictima" class="control-label col-md-2">Sub Victima:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.subVictima)
        </div>
    </div>
    <div class="form-group">
        <label for="tentativa" class="control-label col-md-2">Tentativa:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.tentativa)
        </div>
        <label for="observaciones" class="control-label col-md-2">Observaciones:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.observaciones)
        </div>
    </div>
    <div class="form-group">
        <label for="narracion" class="control-label col-md-2">Narración:</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.narracion)
        </div>
    </div>    
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
